body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #001f54;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #030125;
}
nav a{
    text-decoration: none;
    color: #F1C84A;
    text-shadow: 2px 2px black;
    padding: 10px;
    background-image: url(../img/272_50px.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 30px ;
}
nav a:hover {
    background-image: url(../img/272_50px_lights.png);
}
.active{
    color: #e4e4e4;
}
header{
    background-image: url("../img/anzac.jpg");
    height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F1C84A;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.home-right {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: #e4e4e4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vw;
}
.home-right a {
    text-decoration: none;
    background-color: #F1C84A;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px black;
    border-radius: 5px;
}
.home-right a:hover {
    background-color:#0a0a4e;
    color: #F1C84A;
}
.home-left {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
    background-color: #030125;
    background: linear-gradient( #030125 0%, #0a0a4e 35%, #0f384f 100%);
}
.calls {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}
.slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 280px;
    height: 40px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }  
  .next {
    right: 80px;
    border-radius: 3px 0 0 3px;
  }  
  .prev {
    right: 975px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.joinUsHero{
    background-image: url("../img/banner.jpg");
    height: 95vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1C84A;
}
.joinUs {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}
.joinSubHead{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #020024;
    color: #F1C84A
}
.involved {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    padding: 2rem 2rem;
}
.joinUs-right {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #030125;
    background: linear-gradient( #030125 0%, #0a0a4e 35%, #0f384f 100%);
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.baDiv a{
    align-self: end;
}
.ba {
    max-width:60%;
    padding-left: 3vw;;
}
.twokmDiv {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}
.twokm {
    padding: 3vw;
    max-width: 40%;
}
.training {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #e4e4e4;
    padding: 2rem 2rem;
}
.register {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 20vh;
    padding-top: 5vh;
    background-color: #e4e4e4;
}
.joinUs-item a {
    text-decoration: none;
    background-color: #F1C84A;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px black;
    border-radius: 5px;
}
.joinUs a:hover {
    background-color:#0a0a4e;
    color: #F1C84A;
}
.historySect {
    background-color: #030125;
    background: linear-gradient( #030125 0%, #0a0a4e 35%, #0f384f 100%);
    /* To delete */
    height: 200vh;
    /* To delete */
}
